*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.outer{
    height: 100vh;
    display: flex;
    background-color: yellow;

}
.outer>.right{
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    background-color: white;
}
.outer>.left{
     background-color:whitesmoke;
    flex-basis: 50%;
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 60px;
    border-bottom-left-radius: 60px;
    
}